$colors: (
  bg: #469fbc,
  bg-darken: darken(#469fbc, 30%),
  bg-lighten: lighten(#469fbc, 20%),
  header: #fff,
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

html,
body {
  background-color: color(bg);
  line-height: 2em;

  .inputs {
    text-align: center;

    h1 {
      color: color(header);
    }

    b#entering {
      width: 50%;
      color: #f9d963;
    }

    b#mark {
      width: 50%;
      color: #19e582;
    }

    b#remove {
      width: 50%;
      color: color(bg-darken);
    }

    .item-form {
      width: 500px;
      height: 80px;
      margin: auto;
      border: 1px solid black;
      display: flex;
      text-align: center;
      justify-content: center;
      flex-direction: column;
    }

    input[id="item"] {
      width: 350px;
      height: 2em;
      border-radius: 5px;
    }
  }

  .container {
    border: 1px solid black;
    width: 500px;
    height: 350px;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
    margin: auto;

    .item-list {
      border: 1px solid black;

      .list-element {
        margin: 10px 0px 10px 25px;
        height: 50px;
        width: 350px;

        list-style-type: none;
        border: 1.5px solid color(bg-darken);
        border-radius: 10px;
        background-color: color(bg-lighten);
        color: #fff;
        line-height: 2em;

        .remove-todo {
          padding-right: 1em;
          float: right;
          font-weight: 200;
          color: color(bg-darken);
        }
      }
    }
  }
}
